<h1>New Puzzle</h1>
<%= form_with model: @puzzle do |form| %>
  <div>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <% @puzzle.errors.full_messages_for(:year).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :day %><br>
    <%= form.text_field :day %>
    <% @puzzle.errors.full_messages_for(:day).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :part %><br>
    <%= form.text_field :part %>
    <% @puzzle.errors.full_messages_for(:part).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :input %><br>
    <%= form.text_area :input %>
    <% @puzzle.errors.full_messages_for(:input).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
